.day-schedule {
	max-height: 600px;
	overflow: auto;
	border-style: solid;
	border-color: #999;
	border-width: 2px;

	& > * {
		white-space: nowrap;
	}

	.channels-info-container {
		display: inline-block;
		vertical-align: top;

		.channel-info-header {
			width: 180px;
			height: 50px;
		}

		.channel-info {
			width: 180px;
			text-align: center;
			padding: 10px 5px;
			height: 130px;
			border-style: solid;
			border-color: #999;
			border-width: 0px;
			border-bottom-width: 1px;
			border-right-width: 2px;

			&:last-child {
				border-bottom-width: 0px;
			}

			& > img {
				width: 100px;
			}

			.channel-info-name {
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				padding: 4px 0px;
			}

			.channel-info-number {

			}
		}
	}

	.events-container {
		display: inline-block;
		vertical-align: top;
		max-width: calc(100% - 180px);
		overflow-x: auto;

		.channel-events-header {
			
			.event-hour-piece {
				height: 50px;
				display: inline-block;
				border-right: 1px solid #999;
				text-align: right;
				padding: 10px;

				&::last-child {
					border-right-width: 0px;
				}
			}
		}

		.events {
			border-top: 1px solid #999;
			
			.channel-events {
				height: 130px;
				white-space: nowrap;

				& > * {
					display: inline-block;
					vertical-align: top;
				}

				.channel-event {
					border-color: #888;
					border-style: solid;
					border-width: 0px 1px 1px 0px;
					padding: 20px 4px;
					height: 100%;
					text-align: center;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					text-align: left;
				}

				&:last-child {
					.channel-event {
						border-bottom-width: 0px;
					}
				}
			}
		}
	}
}