.channels-container {
	max-width: 100%;

	.channel-container {
		padding: 10px !important;
	}
}

.channel-desc-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
}