.sort-controller {
	width: 100%;
	padding: 10px 0 10px;
	text-align: right;
}

.sort-controller > * {
	display: inline-block;
	text-align: center;
}

.sort-controller > .item {
	padding: 5px 10px;
	border: 1px solid #777;
	border-radius: 4px;
	margin-left: 5px;
}