.sort-filter-container {
	padding: 10px;

	.section {
		padding: 0px !important;

		&.section-right {
			.filters {
				text-align: right;

				.filter {
					width: 60px;
					padding: 5px;
					border-radius: 4px;
					display: inline-block;
					border: 2px solid #444;
					color: #777;
					text-align: center;
					margin-left: 4px;
					transition: all 0.4s ease;

					&.selected {
						background-color: #444;
						color: #E57373;
					}

					&:hover {
						background-color: #444;
						color: #999;
					}
				}
			}
		}

		&.section-left {

			.sortBy {
				text-align: left;

				.label {
					font-size: 14px;
					padding: 0px;
					font-weight: normal;
					color: rgba(187, 187, 187, 0.95);
				}

				.sort-by-item {
					width: 65px;
					padding: 5px;
					border-radius: 4px;
					display: inline-block;
					border: 2px solid #444;
					color: #777;
					text-align: center;
					margin-left: 4px;
					transition: all 0.4s ease;

					&.selected {
						background-color: #444;
						color: #bbb;
					}

					&:hover {
						background-color: #444;
						color: #999;
					}
				}
			}
		}
	}
}