.sort-filter-container {
	padding: 10px;

	.section {
		padding: 0px !important;

		&.section-right {
			.filters {
				text-align: right;

				.filter {
					width: 60px;
					padding: 5px;
					border-radius: 4px;
					display: inline-block;
					background-color: red;
					text-align: center;
					margin-left: 4px;
				}
			}
		}

		&.section-left {

			.sortBy {
				text-align: left;

				.label {
					font-size: 14px;
				}

				.sort-by-item {
					width: 60px;
					padding: 5px;
					border-radius: 4px;
					display: inline-block;
					background-color: red;
					text-align: center;
					margin-left: 4px;
				}
			}
		}
	}
}