body {
	background-color: #232323;
	color: rgba(255, 255, 255, 0.8);
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

.like-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
	color: #777;
	visibility: hidden;
	transition: all 0.2s ease;
}

.like-btn.hearted {
	color: #E57373;
	visibility: visible;
}

.like-btn:hover {
	color: #E57373;
}